*{
    margin:0;
    padding: 0;
}

.info{
    display: flex;
    flex-direction: row;
    background-color: rgb(48, 47, 47);
}

.poster{
    padding: 10px;
}

.movie{
    max-width: 350px;
    border: 5px solid rgb(255, 255, 255);
}

.information{
    font-size: 20px;
    margin-left: 100px;
    color: white;
    padding: 10px;
}

.MovieTitle{
    font-size: 30px;
    color: rgb(255, 191, 0);
    padding: 10px;
}
.year{
    padding: 10px;
}

.rate{
    padding: 10px;
}

.release{
    padding: 10px;
}

.genre{
    padding: 10px;
}

.writer{
    padding: 10px;
}

.actors{
    padding: 10px;
}

.plot{
    padding: 10px;
    justify-content: space-evenly;
    max-width: 600px;
}

.languages{
    padding: 10px;
}

.awards{
    padding: 10px;
}