<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
</head>
<body>
    <div class="main">
        <div class="info">

            <div class="poster">
                <img src="../assets/poster.jpg" class="movie">
            </div>
    
            <div class="information">
                <h3 class="MovieTitle"><b>Title:</b>Avengers End Game</h3>
                <p class="year"><b>Year:</b>2020</p>
                <p class="rate"><b>Ratings:</b> PG-13</p>
                <p class="release"><b>Released:</b> 05 May 2020</p>
                <p class="genre"><b>Genre:</b> Action, Adventure, Comedy</p>
                <p class="writer"><b>Writer:</b> abc x, ddjw c, wdwd cs</p>
                <p class="actors"><b>Actors: </b>jkdnqd ed,eqfqf, ewfe,fe,fqw,feqf,f,w</p>
                <p class="plot"><b>Plot:</b> I used to be very skeptical or uncomfortable using libraries, but after learning how to write carousel on my own helped me have confidence in using the library. I kinda know how it works underneath and helped me play around with optional parameters. I would suggest folks to try writing carousel yourself once from scratch without using libraries.</p>
                <p class="languages"><b>Languages:</b> a, b, c, d</p>
                <p class="awards"><b>Awards:</b>abc, xyz, rtfm </p>
            </div>
        </div>
    </div>
</body>
</html>