<html>
  <head>
    <title>Main Page</title>
  </head>
  <body>
    <div class="main">

      <div class="upper"></div>

      <div class="title">
        <p>Movie Catalogue</p>
      </div>

      <div class="middle">
        <input type="search" class="search" placeholder="Search Your Favorite Movie" [(ngModel)]="search"/>
        <button type="button" (click)="LoadMovie($event)" class="button">Search</button>
      </div>

      <div class="search-container">
        <div class="result">
          <div class="load--hidden"></div>
          <div class="internal" (click)="pop()" *ngFor="let x of array | paginate: {itemsPerPage: perPage, currentPage: page}">
            <div class="poster" *ngIf="x.qid === 'movie'">
              <img [src]="displayPoster(x.i.imageUrl)" class="movie">
            </div>
  
            <div class="information" *ngIf="x.qid === 'movie'">
                <h3 class="MovieTitle">{{x.l}}</h3>
                <h4 class="year">{{x.y}}</h4>
            </div>
          </div>
        </div>

          <div class="page" *ngIf="show">
            <pagination-controls class="control" (pageChange)="page = $event"></pagination-controls>
          </div>
      </div>

      <div class="pop" *ngIf="description">
        <ng-container *ngComponentOutlet="comp"></ng-container>
      </div>
    </div>
  </body>
</html>