@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');


*{
    margin: 0px;
    padding-top: 0;
}

html{
    height: 100%;
    scroll-behavior: smooth !important;

    body{
        scroll-behavior: smooth !important;
        width: 100%;

        .main{
            background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/assets/background.png);
            background-size: cover;
            background-position: center;
            width: 100%;

            .upper{
                position: relative;

                .title{
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.294);
                    display: flex;
                    flex-direction: row;

                    .appTitle{
                        font-size: 70px;
                        padding: 0px 0px 0px 10px;
                        font-family: 'Bebas Neue', cursive;
                        // margin-top: 15px;
                        color: white;
                        transition: 0.5s;
                        width: fit-content;
                        cursor: pointer;

                        &:hover{
                            text-shadow: 10px 10px 10px rgb(0, 0, 0);
                        }
                    }

                    .list{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        width: 100%;
                        padding: 10px;
                        list-style-type: none;

                        .list_comp{
                            font-size: 20px;
                            font-family: 'Baloo 2', sans-serif;
                            background-color: #e48958;
                            width: fit-content;
                            margin: 10px;
                            text-align: center;
                            border-radius: 20px;
                            border: 3px solid white;
                            color: white;
                            padding: 5px;
                            cursor: pointer;
                            box-sizing: border-box;
                            transition: 0.5s;

                            &:hover{
                                background-color: #ffe565;
                                color: #252525;
                                overflow: hidden;
                                box-shadow: 10px 10px 20px black;

                            }
                        }
                    }
                }

                .middle{
                    width: 100%;
                    margin-top: 30px;
                    text-align: center;
                    position: relative;

                    .search{
                        width: 700px;
                        height: 50px;
                        background-color: white;
                        box-sizing: border-box;
                        border-radius: 10px;
                        font-size: 20px;
                        color: black;
                        font-family: 'Lexend', sans-serif;
                        background: url(/assets/search.jpg) no-repeat left;
                        background-size: 50px;
                        background-color: white;
                        padding-left: 10px;
                        padding-left: 50px;
                        padding-right: 10px;
                        border: none;
                        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.486);
                        cursor: pointer;
                    }

                    .shaking{
                        animation: shake 0.2s;
                    }

                    @keyframes shake{
                        100%{
                            transform: translate(0);
                            transition: 0.5s;
                        }
                        50%{
                            transform: translate(-1%);
                            transition: 0.5s;
                        }
                        0%{
                            transform: translate(1%);
                            transition: 0.5s;
                        }
                    }

                    .button{
                        width: 120px;
                        height: 50px;
                        background-color: rgb(0, 166, 255);
                        color: white;
                        border-radius: 15px;
                        border: 3px solid white;
                        cursor: pointer;
                        font-size: 20px;
                        transition: 0.7s;
                        margin-left: 20px;
                        font-family: 'Baloo 2', cursive;

                        &:hover{
                            background-color: rgb(255, 255, 255);
                            border-color: #252525;
                            color: #252525;
                        }
                    }
                }

                .search-container{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    height: 100vh;
                    
                    .genre-choose{
                        height: fit-content;
                        width: 100%;
                        overflow: hidden;
                        cursor: pointer;
                        background: transparent;
                        display: flex;
                        // justify-content: flex-end;
                        flex-direction: row-reverse;
                        padding-top: 10px;

                        .radio_input{
                            display: none;
                        }

                        .radio_label{
                            width: 75px;
                            background-color: #143d59;
                            color: white;
                            border:2px solid white;
                            padding: 10px;
                            cursor: pointer;
                            transition: background-color 0.3s;
                            border-radius: 20px;
                            font-family: 'Fredoka One', cursive;
                            text-align: center;
                            margin: 1px;
                        }

                        .radio_input:checked+.radio_label{
                            background-color: #ffe565;
                            color: black;
                            border-color: #252525;
                        }
                    }

                    .result{
                        padding-top: 100px;
                        color: black;
                        font-size: 20px;
                        display: flex;
                        flex-direction: row;
                        overflow-x: scroll;

                        .internal{
                            display: flex;
                            flex-direction: column;
                            padding: 10px;
                            cursor: pointer;
                            transition: width 5s;
                            text-align: center;

                            .poster{
                                position: relative;

                                .movie{
                                    max-width: 200px;
                                    height: 300px;
                                    border-radius: 10px;
                                    box-sizing: border-box;
                                    box-shadow: 10px 10px 15px black;
                                    text-decoration: none;
                                }
                            }

                            .information{
                                padding-top: 20px;
                                font-size: 20px;
                                padding-left: 10px;
                                color: white;
                                text-decoration: none;
                                
                                .MovieTitle{
                                    font-size: 20px;
                                    color: white;
                                    max-width: 200px;
                                    text-decoration: none;
                                }

                                .year{
                                    font-size: 20px;
                                    padding-top: 10px;
                                    color: white;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }

                .load{
                    position: fixed;
                    display: flex;
                    top: 40%;
                    left: 40%;
                    transition: opacity 0.75s, visibility 0.75s;
                    background-color: rgba(0, 0, 0, 0.582);
                    border-radius: 20px;
                    z-index: 99;
                    box-sizing: border-box;
                    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.447);


                    &::after{
                        content: "";
                        height: 200px;
                        width: 200px;
                        opacity: 1;
                        background: url(/assets/loading.gif) no-repeat center center;

                    }

                }

                .load--hidden{
                    opacity: 0;
                    visibility: hidden;
                }

                .noMovie{
                    color: rgba(255, 255, 255, 0.785);
                    font-size: 30px;
                    text-align: center;
                    position: absolute;
                    opacity: 0;
                    top: 50%;
                    left: 30%;
                    visibility: hidden;
                }

                .noMovie--show{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }


        //movie information
        .info{
            display: flex;
            flex-direction: row;
            background-color: rgb(48, 48, 48);
            padding: 20px;


            .mainPoster{
                padding: 20px;
                background-color: rgb(85, 85, 85);
                border-radius: 20px;
                height: fit-content;

                .moviePoster{
                    max-width: 350px;
                    border: 5px solid rgb(255, 255, 255);
                    border-radius: 20px;
                }
            }

            .description{
                font-size: 20px;
                margin-left: 100px;
                color: white;
                padding-left: 30px;
                background-color: rgb(85, 85, 85);
                border-radius: 20px;

                .name{
                    font-size: 30px;
                    color: rgb(255, 191, 0);
                    padding: 10px;
                }
                .dob, .rate, .genre, .languages, .awards{
                    padding: 10px;
                }

                .plot{
                    padding: 10px;
                    justify-content: space-evenly;
                }
            }
        }

        .parent{
            display: flex;
            justify-content: flex-end;
            overflow: hidden;
        }

        .notification{
            position: absolute;
            background-color: rgb(255, 191, 0);
            width: fit-content;
            padding: 5px;
            display: flex;
            margin-top: 10px;
            margin-left: 10px;
            flex-direction: row;
            border: none;
            border-radius: 50px;
            visibility: hidden;
            overflow: hidden;

            .cross{
                border: 3px solid black;
                padding: 1px;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                margin-top: 5px;
                text-align: center;
            
                .x{
                    font-size: 20px;
                    color: black;
                    text-align: center;
                    font-family: 'Baloo 2', cursive;
                }
            }
            .txt{
                text-align: center;
                font-size: 18px;
                padding: 10px;
                color: black;
                font-family: 'Baloo 2', cursive;
            }
        }


        .notification--show{
            animation: 1s ease slide-left;
            visibility: visible;
            overflow: hidden;
        }
        @keyframes slide-left {
        from {
            overflow: hidden;
            opacity: 0;
            transition: all 0.5s;
        }
        to {
            opacity: 1;
            transition: all 0.5s;
            overflow: hidden;
        }
        }
    }
}