<html>
  <head>
    <title>Main Page</title>
  </head>
  <body>
    <div class="main">

      <div class="upper"></div>

      <div class="title">
        <p>Movie Catalogue</p>
      </div>

      <div class="middle">
        <input type="search" class="search" placeholder="Search Your Favorite Movie" [(ngModel)]="search"/>
        <button type="button" (click)="LoadMovie($event)" class="button">Search</button>
      </div>

      <div class="search-container">
        <div class="result">
          <div class="load--hidden"></div>
          <div class="internal" (click)="pop()" *ngFor="let x of movieArray">
            <div class="poster" *ngIf="x.i?.imageUrl != undefined; else noPoster">
              <img [src]="displayPoster(x.i.imageUrl)" class="movie">
            </div>
            <ng-template #noPoster>
              <img src="../../assets/no-poster1.jpg" class="movie">
            </ng-template>
            
  
            <div class="information">
                <h3 class="MovieTitle" *ngIf="x.l">{{x.l}}</h3>
                <h4 class="year" *ngIf="x.y; else noYear">{{x.y}}</h4>
            </div>
            <ng-template #noYear>
              <h4 class="year">—</h4>
            </ng-template>
          </div>
        </div>

          <!-- <div class="page" *ngIf="show">
            <pagination-controls class="control" (pageChange)="page = $event"></pagination-controls>
          </div> -->
      </div>

      <!-- <div class="pop" *ngIf="description">
        <ng-container *ngComponentOutlet="comp"></ng-container>
      </div> -->
    </div>

<!-- Information Show -->
    <div class="info" *ngIf="description">
        <div class="mainPoster">
            <img src="../assets/poster.jpg" class="moviePoster">
        </div>

        <div class="description">
            <h3 class="name"><b>Title:</b>Avengers End Game</h3>
            <p class="dob"><b>Year:</b>2020</p>
            <p class="rate"><b>Ratings:</b> PG-13</p>
            <p class="release"><b>Released:</b> 05 May 2020</p>
            <p class="genre"><b>Genre:</b> Action, Adventure, Comedy</p>
            <p class="writer"><b>Writer:</b> abc x, ddjw c, wdwd cs</p>
            <p class="actors"><b>Actors: </b>jkdnqd ed,eqfqf, ewfe,fe,fqw,feqf,f,w</p>
            <p class="plot"><b>Plot:</b> I used to be very skeptical or uncomfortable using libraries, but after learning how to write carousel on my own helped me have confidence in using the library. I kinda know how it works underneath and helped me play around with optional parameters. I would suggest folks to try writing carousel yourself once from scratch without using libraries.</p>
            <p class="languages"><b>Languages:</b> a, b, c, d</p>
            <p class="awards"><b>Awards:</b>abc, xyz, rtfm </p>
        </div>
    </div>

  </body>
</html>

