<html>
  <head>
    <title>Main Page</title>
  </head>
  <body>
    <div class="main">
      <div class="upper">
        <div class="title">
          <p class="appTitle">Nightlife</p>
        </div>

          <div class="middle">
            <input type="search" class="search" placeholder="Search Your Favorite Movie" [(ngModel)]="search" />
            <button type="button" (click)="LoadMovie($event)" class="button">Search</button>
          </div>

        <div class="search-container">
          <div class="result">
            <div class="load--hidden"></div>
            <div class="internal" (click)="pop()" *ngFor="let x of tmdb_movie_array">
              <div class="poster">
                <img [src]="displayPoster(x.poster_path)" class="movie" *ngIf="x.poster_path != null; else noPoster" (click)="getId(x.id)">
              </div>
              <ng-template #noPoster>
                <img src="/assets/no-poster1.jpg" class="movie" (click)="getId(x.id)">
              </ng-template>
              
    
              <div class="information">
                  <h3 class="MovieTitle" *ngIf="x.title" (click)="getId(x.id)">{{x.title}}</h3>
                  <h4 class="year" *ngIf="x.release_date; else noYear" (click)="getId(x.id)">{{x.release_date}}</h4>
              </div>
              <ng-template #noYear (click)="getId(x.id)">
                <h4 class="year" (click)="getId(x.id)">—</h4>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Information Show -->
    <div class="info" *ngIf="description">
      <div class="mainPoster">
          <img src="{{poster}}" class="mainPoster" *ngIf="path != null ; else noPoster">
      </div>
      <ng-template #noPoster>
        <img src="/assets/no-poster1.jpg" class="moviePoster">
      </ng-template>

      <div class="description">
          <h3 class="name" *ngIf="name != null; else noName"><b>{{name}}</b></h3>
          <p class="awards" *ngIf="type != null; else noType"><b>Type:</b>&nbsp;{{type}}</p>
          <p class="dob" *ngIf="year != null; else noDOB"><b>Release Date:</b>&nbsp;{{year}}</p>
          <p class="plot" *ngIf="overview != null; else noPlot"><b>Overview:</b>&nbsp;{{overview}}</p>
          <p class="rate" *ngIf="rate != null; else noRate"><b>Ratings:</b>&nbsp;{{rate}}</p>
          <p class="genre" *ngIf="popularity != null; else noPopularity"><b>Popularity:</b>&nbsp;{{popularity}}</p>
          <p class="languages" *ngIf="language != null; else noLanguages"><b>Original Language:</b>&nbsp;{{language}}</p>
      </div>
      <ng-template #noName>
        <h4 class="name"><b>Title:</b>&nbsp;—</h4>
      </ng-template>
      <ng-template #noDOB>
        <h4 class="dob"><b>Year:</b>&nbsp;—</h4>
      </ng-template>
      <ng-template #noRate>
        <h4 class="rate"><b>Rating:</b>&nbsp;—</h4>
      </ng-template>
      <ng-template #noRelease>
        <h4 class="release"><b>Release Date:</b>&nbsp;—</h4>
      </ng-template>
      <ng-template #noPopularity>
        <h4 class="genre"><b>Popularity:</b>&nbsp;—</h4>
      </ng-template>
      <ng-template #noPlot>
        <h4 class="plot"><b>Overview:</b>&nbsp;—</h4>
      </ng-template>
      <ng-template #noLanguages>
        <h4 class="languages"><b>Original Language:</b>&nbsp;—</h4>
      </ng-template>
      <ng-template #noType>
        <h4 class="awards"><b>Type:</b>&nbsp;—</h4>
      </ng-template>
    </div>

  </body>
</html>

