*{
    margin: 0px;
    padding-top: 0;
}

html,body{
    height: 100%
}

body{
    padding-bottom: 10px;    /* height of footer */
}

.upper{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.45)), url(/assets/bg.jpg);
    height: 250px;
}

.title{
    font-size: 70px;
    color: white;
    text-align: center;
    margin: -170px 0px;
}

.middle{
    width: 100%;
    text-align: center;
    margin-top: 230px;
    // background-color: black;
}

.search{
    width: 700px;
    height: 50px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    background: url(/assets/search.jpg) no-repeat left;
    background-size: 50px;
    background-color: white;
    padding-left: 10px;
    padding-left: 50px;
    padding-right: 10px;
    border: none;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.486);
    cursor: pointer;
}

.button{
    width: 120px;
    height: 50px;
    background-color: rgb(255, 149, 0);
    color: black;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;

}
.result{
    color: black;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}

.internal{
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
    transition: width 5s;
    text-align: center;
}

.movie{
    max-width: 200px;
    height: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 5px solid rgb(255, 157, 0);
    box-shadow: 20px 20px 50px black;

}

.MovieTitle{
    font-size: 20px;
    color: black;
    max-width: 200px;
}

.information{
    padding-top: 5px;
    font-size: 20px;
    padding-left: 10px;
}

.year{
    font-size: 20px;
    color: black;
    padding-top: 10px;
}

.page{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    text-align: center;
    top: 100;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.load{
    position: fixed;
    justify-content: center;
    text-align: center;
    display: flex;
    height: 100%;
    width: 100%;
    transition: opacity 0.75s, visibility 0.75s;

    &::after{
        content: "";
        height: 75px;
        width: 75px;
        border: 10px solid black;
        border-top-color: rgb(255, 179, 0);
        border-radius: 50%;
        animation: loading 1s ease infinite;
    }

    @keyframes loading {
        from { transform: rotate(0turn); }
        to { transform: rotate(1turn); }
    }
}

.load--hidden{
    opacity: 0;
    visibility: hidden;
}
